<html lang="en">

<head>
      <title>Learn More</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="/css/style-home.css" rel="stylesheet">
      <link rel="shortcut icon" type="image/x-icon" href="/images/G.png"/>
</head>

<body >

<div class="banner">
      <img src="/images/hero image.png" style="height: 100%"/>
      <div class="inner-content col-md-12">
            <div class=" col-md-8 middle"></div>
            <div class="content-right col-md-4">
                  <div class="text-center">

                        <form name="signin" action="/auth/signIn" method="post">
                              <label for="username">
                                    username: <input name="username" id="username" style="color: black"/>
                              </label><br>
                              <label for="password">
                                    password: <input name="password" id="password" type="password"
                                                     style="color: black"/>
                              </label><br>
                              <input type="submit" value="SIGN IN" class="btn btn-primary btn-lg"/>
                              <p>Not registered? <a href="/" style="color: cyan">Sign up</a></p>
                        </form>

                  </div>
            </div>
      </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>